.elementor-image-carousel {
    height: 550px;
}

.elementor-image-carousel .swiper-slide {
    height: 100%;
}

.elementor-image-carousel .swiper-slide a {
    display: block;
    height: 100%;
    width: 100%;
}

.elementor-image-carousel .swiper-slide a figure {
    height: 100%;
    width: 100%;
}

.elementor-image-carousel .swiper-slide a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about-us-slider .elementor-widget-container .elementor-image-carousel-wrapper .elementor-image-carousel {
    gap: 20px;
}

/*industry*/

.industry {
    position: relative;
    height: 555px;
    overflow: hidden;
    border-radius: 30px;
    transition: all .5s ease-in-out;
}

.industry:after{
    content:'';
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    border-radius: 30px;
    z-index:5;
    display: block;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(180deg, #21212100 0%, #212121E8 100%);
    transition: all .5s ease-in-out;
}

.industry:hover:after{
    opacity: .5s;
    transition: all .5s ease-in-out;
}

.industry div div img {
    display: block;
    position: relative;
    width: 100%;
    height: 555px;
    z-index: 1;
    border-radius: 30px;
}

.industry-heading {
    position: absolute !important;
    width: 100%;
    bottom: 0;
    z-index:6;
    padding: 32px 24px;
}